.banner{
    background: url('../img/16333.jpg');
    background-color: rgba(0, 0, 0, 0.512);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    padding: 150px 0;
    text-align: center;
    .url{
        p{
            a{
                color: #fff;
            }
            span{
                color: #ccccccb8;
            }
        }
    }
    .url-title{
        h1{
            color: #fff;
            font-size: 60px;
            margin: 20px 0;
        }
    }
}

/*****  start about *******/ 

.about{
    .about-desc{
        padding: 120px 50px;
        p{
            margin: 30px 0;
        }
    }
    .mission{
        margin-bottom: 50px;
        h3{
            margin-bottom: 20px;
        }
    }
    .vision{
        margin-bottom: 50px;
        padding-left: 50px;
        h3{
            margin-bottom: 20px;
        }
    }
    .goals{
        h3{
            margin-bottom: 20px;
        }
        ul{
            padding-left: 20px;
        }
    }
    .values{
        padding-left: 50px;
        h3{
            margin-bottom: 20px;
        }
        ul{
            padding-left: 20px;
        }
    }
}


/********   start portifolio *******/ 

.potrifolio{
    margin-top: 50px;
    border-bottom: 2px solid #fff;
    .port-img{
        position: relative;
        overflow: hidden;
        img{
            position: relative;
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            &:hover{
                transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
            }
        }
    }
    .port-text{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 0;
        right: 0;
        h2{
            color: #fff;
            font-weight: bold;
        }
    }
}