
.contact-info{
    margin-bottom: 25px;
    &__icon{
      margin-right: 20px;
      i,span{
        color: #8f9195;
        font-size: 27px;
      }
    }
    .media-body{
      h4{
        font-size: 14px;
        margin-bottom: 0;
        color: #2a2a2a;
        a{
          &:hover{
            color: $main-color;
          }
        }
      }
  
      p{
        color: #8a8a8a;
      }
    }
  }
/*=================== contact form start ====================*/
.contact-title{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .form-contact{
  
    label{
      font-size: 14px;
    }
    .form-group{
      margin-bottom: 30px;
      .button-contactForm{
        padding: 5px 5px 5px 20px;
      }
      .btn_1{
        margin-bottom: -30px;
        border: 1px solid #999999;
        border-radius: 0;
        color: #000;
        display: flex;
        align-items: center;
        i{
          color: $font-color;
          width: 50px;
          height: 50px;
          background-color: $main-color;
          display: inline-block;
          line-height: 50px;
          margin-left: 20px;
          background-size: 200% auto;
        }
        &:hover{
          border: 1px solid $main-color;
          color: $main-color !important;
          i{
            color: $main-color;
            color: #fff !important;
          }
        }
      }
    }
  
    .form-control{
      border: 1px solid #f0e9ff;
      border-radius: 5px;
      height: 48px;
      padding-left: 18px;
      font-size: 13px;
      background: transparent;
  
      &:focus{
        outline: 0;
        box-shadow: none;
      }
  
      &::placeholder{
        font-weight: 300;
        color: #999999;
      }
    }
  
    textarea{
      border-radius: 12px;
      height: 100% !important;
    }
  }


  /*=================== contact form end ====================*/
  