/* ---------- Services --------- */
#services {
  padding: 50px 0;
}
.service-img {
  width: 130px;
  margin-top: 2rem;
}
.services {
  padding: 20px;
}
.services h4 {
  padding: 1em;
  margin-top: 5px;
  text-transform: uppercase;
}
.title::after {
  content: "";
  background: linear-gradient(to right, #71c9f1, #0c4f6e);
  height: 8px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 70px;
  transform: translateY(23px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #71c9f1, #0c4f6e);
  transition: transform 1.2s;
}
#services .btn-primary:hover {
  transform: scale(1.2);
}

/************use_sasu css start***************/
.use_sasu {
  position: relative;
  z-index: 1;
  position: relative;
  padding: 50px 0;
  .feature_icon_1 {
    position: absolute;
    left: 22%;
    top: 15%;
    z-index: -1;
  }

  .single_feature_part {
    text-align: center;
    padding: 0 15px;
    img {
      margin-bottom: 33px;
      height: 65px;
    }
    h4 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 22px;
    }
    p {
      color: $font-color;
      line-height: 1.8;
      font-size: 15px;
    }
  }
}
