    .how-we-are {
        padding: 80px 0;
        .title {
            border-right: 20px solid $main-color;
            text-align: right;
            padding-right: 50px;
            h1 {
                width: 70%;
                float: right;
                color: #2C2C2C;
            }
        }
        p {
            padding: 0 60px;
            color: #5F5F5E;
        }
    }
    
    .our-mission {
        background: url('../img/rawpixel-799380-unsplash.jpg');
        background-size: cover;
        background-position: center;
        background-color: rgba(15, 15, 15, 0.7);
        background-blend-mode: darken;
        height: 350px;
        color: #fff;
        padding: 100px 0;
        h3 {
            margin-bottom: 60px;
        }
    }
    
    .strengths {
        padding: 80px 0;
        h1 {
            border-right: 15px solid $main-color;
            margin: 40px;
            width: 60%;
            text-align: right;
            padding: 0 50px;
            float: right;
            height: 170px;
        }
        h5 {
            margin: 40px 0 10px 0;
            span {
                color: $main-color;
                margin-right: 15px;
            }
        }
        p {
            color: #5F5F5E;
        }
    }
    
    .approach {
        background-color: #434343;
        padding: 50px 0;
        text-align: center;
        h2 {
            color: #fff;
            margin: 20px 0 40px 0;
        }
        .card {
            background: none;
            border: none;
            color: #fff;
            margin: auto;
            span {
                color: $main-color;
            }
        }
    }
    
    .our-team {
        background-color: $main-color;
        padding: 80px 0;
        text-align: center;
        h2 {
            color: #fff;
            margin-bottom: 50px;
        }
        .slider {
            height: auto !important;
            .carousel{
                height: auto !important;
                .carousel-item {
                    height: auto !important;
                }
            } 
        }
        .card {
            background: none;
            border: none;
            color: #fff;
            margin: auto;
            .card-text {
                color: #000;
            }
        }
    }
    
    .Social {
        background: url('../img/paralax_1.png');
        background-size: cover;
        height: 200px;
        text-align: center;
        padding: 80px 0;
        h1 {
            color: #fff;
        }
    }
    
    .responsibility {
        padding: 100px 0;
        p {
            color: #2C2C2C;
        }
    }