footer {
  background-image: linear-gradient(#3c68af, #5271a5);
  padding: 120px;
  color: #fff;
  .text {
    h5 {
      margin-bottom: 30px;
    }
    .disc {
      .list-group-item {
        padding: 0.5rem 0;
        border: none;
        background: none;
      }
    }
    .social {
      margin-top: 30px;
      .nav-link{
        color: #fff;
        font-size: 30px;
      }
    }
  }
}
