* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background: linear-gradient(to right, #71c9f1, #0c4f6e);
}
/* Logo resize */
.navbar-brand img {
  height: 4rem;
  padding-left: 3rem;
}
.navbar-nav {
  margin-right: 3rem;
}
.navbar-nav li {
  padding: 0 1rem;
}
.navbar-nav li {
  padding: 0 1rem;
}
.navbar-nav .nav-item .nav-link {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars {
  color: #fff !important;
  font-size: 25px !important;
}
.navbar-toggler {
  outline: none !important;
}
/* --------- Banner ---------- */
.banner {
  background: linear-gradient(to right, #71c9f1, #0c4f6e);
  color: #fff;
  padding-top: 5%;
}
.promo-title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3em;
  }
  .join-title {
    font-size: 1.44rem;
  }
  .link-play {
    text-decoration: none;
  }
  .link-play:hover {
    color: #58f0ff;
    text-decoration: none !important;
  }
  .play-btn {
    width: 45px;
    margin: 20px 0;
    margin-right: 2em;
    text-decoration: none !important;
    transition: transform 1.2s;
  }
  .play-btn:hover {
    color: #444;
    text-decoration: none !important;
    transform: scale(1.2);
  }
  .banner a {
    color: #fff;
    text-decoration: none !important;
  }
  .img-fluid {
    margin-top: 4rem;
  }
  .bottom-img {
    width: 100%;
    margin: -8px 0;
  }
