header{
  .navbar{
    background: #fff;
    .active .nav-link{
      color: $main-color;
    }
    .nav-link{
      padding-right: 1rem !important;
      padding-left: 1rem !important;
      color: $font-color;
    }
    .nav-link.btn{
      color: #fff;
      border-radius: 25px;
      border-color: #007bff;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      &:hover{
        background-color: #fff;
        color: $main-color;
        border-color: $main-color;
      }
    }
  }
}