
////
$minLarge:"(min-width:1201px)";
$maxLarge:"(min-width:1200px)";
$minSmall:"(min-width:992px)";
$maxSmall: "(max-width:991px)";
$minMobile:"(min-width:768px)";
$maxMobile: "(max-width:767px)";
$minXSmall:"(min-width:577px)";
$maxXSmall: "(max-width:575px)";



// colors
$blackColor:#000;
$WhiteColor:#fff;
$redColor:#f00;
$blueColor:#00f;
